<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Store" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="notice">
      <%= notice %>
    </div>
    <nav class="bg-indigo-700 text-black shadow-md fixed top-0 z-20 w-full">
      <div class="container mx-auto px-6 py-4 flex justify-between items-center">
    
        <!-- Título o nombre de la aplicación -->
        <%= link_to root_path, class: "bg-indigo-500 hover:bg-indigo-600 text-black px-4 py-2 rounded-md transition" do %>
          <i class="fas fa-home mr-2"></i> Store
        <% end %>
    
        <!-- Botones de navegación -->
        <div class="space-x-4">
          
    
          <% if authenticated? %>
            <%= button_to session_path, method: :delete, 
                      class: "bg-red-500 hover:bg-red-600 text-black px-4 py-2 rounded-md transition cursor-pointer" do %>
              <i class="fas fa-sign-out-alt mr-2"></i> Log out
            <% end %>



          <% else %>
            <%= link_to new_session_path, class: "bg-green-500 hover:bg-green-600 text-black px-4 py-2 rounded-md transition" do %>
              <i class="fas fa-sign-in-alt mr-2"></i> Login
            <% end %>
            <%= link_to new_user_path, class: "bg-green-500 hover:bg-green-600 text-black px-4 py-2 rounded-md transition" do %>
              <i class="fas fa-sign-in-alt mr-2"></i> Register
            <% end %>
          <% end %>
        </div>
    
      </div>
    </nav>
  



    <main>
      <%= yield %>
    </main>
  </body>
</html>
